.git
.github
.codex
.agents
.idea
.vscode
**/__pycache__
**/*.py[cod]
**/*.log
**/.pytest_cache
**/.coverage*
**/settings.ini
**/groups.ini
**/public_key.pem
**/private_key.key
.tox
build
dist
docs
converters
bench_results.txt
Z:\\*
c:/
BrAinPI/s3:/
