alabaster==0.7.16
asciitree==0.3.3
atomicwrites==1.4.1
babel==2.16.0
-e git+https://github.com/CBI-PITT/BrAinPI.git@5f9fc6beb7060089eae2321ded1b3f0fd1495dee#egg=bil_api
blinker==1.8.2
blosc==1.11.2
bokeh==3.5.2
boto3==1.35.9
botocore==1.35.9
cachelib==0.9.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
contourpy==1.3.0
dask==2024.8.1
Deprecated==1.2.14
diskcache==5.6.3
distributed==2024.8.1
docutils==0.20.1
fasteners==0.19
filelock==3.15.4
Flask==2.3.3
Flask-Caching==2.3.0
Flask-Cors==4.0.2
Flask-Limiter==3.8.0
Flask-Login==0.6.3
fsspec==2024.6.1
gevent==24.2.1
google-apitools==0.5.32
google-auth==2.34.0
greenlet==3.0.3
gunicorn==23.0.0
h5py==3.11.0
httplib2==0.22.0
idna==3.8
imagecodecs==2024.6.1
imageio==2.35.1
imagesize==1.4.1
imaris-ims-file-reader==0.1.8
importlib_resources==6.4.4
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
lazy_loader==0.4
ldap3==2.9.1
limits==3.13.0
locket==1.0.0
loguru==0.7.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
msgpack==1.0.8
natsort==8.4.0
networkx==3.3
neuroglancer==2.40.1
neuroglancer-scripts==1.2.0
nibabel==5.2.1
numcodecs==0.13.0
numpy==2.1.0
oauth2client==4.1.3
opencv-python-headless==4.10.0.84
ordered-set==4.1.0
packaging==24.1
pandas==2.2.2
partd==1.4.2
Pebble==5.0.7
pillow==10.4.0
psutil==6.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycryptodome==3.20.0
Pygments==2.18.0
PyJWT==2.9.0
Pympler==1.1
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
requests==2.32.3
rich==13.8.0
rsa==4.9
s3transfer==0.10.2
scikit-image==0.24.0
scipy==1.14.1
setuptools==72.1.0
six==1.16.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
Sphinx==8.0.2
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
tblib==3.0.0
tifffile==2024.8.28
toolz==0.12.1
tornado==6.4.1
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
v3d-py-helper==0.4.1
Werkzeug==2.3.8
wheel==0.43.0
wrapt==1.16.0
xyzservices==2024.6.0
zarr==2.18.2
zarr_stores @ git+https://github.com/CBI-PITT/zarr_stores.git@6660f84dd02ab7b3b9d0ffaac0c1e65ed9a446c7
zict==3.0.0
zope.event==5.0
zope.interface==7.0.3
