<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZX9TCXH925"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-ZX9TCXH925');
    </script>
    <title>{{ redirect_name }}:{{ description }}</title>
    <meta http-equiv="refresh" content="0; url='{{ redirect_url }}'" />
  </head>
  <body>
    <p>If you were not automatically redirected: please follow <a href="{{ redirect_url }}">this link</a>.</p>
  </body>
</html>
