{% extends "fl_browse_full_page.html" %}

{% block content %}

{# This displays a link to the parent directory above table #}
<div class="container ps-0">
    {% if not current_path['parent_is_root'] %}

        <div id="parent-link" class="file-dir ps-5 parent-path">
            <a href="{{ current_path['parent_path'] }}">
                [Parent] {{  current_path['parent_folder_name'] }}
            </a>
        </div>
        {% else %}
        <div id="parent-link" class="file-dir ps-5 parent-path">
            <a href="{{ current_path['parent_path'] }}">
                [Top Level]
            </a>
        </div>

{% endif %}

{# This is to describe the current directory and stats in the table #}
<table id="myTable" class="mx-auto">
    <thead>
    <tr class="bg-light">
        <th class="w-50">Dir | File</th>
       
        <th>Updated</th>
        <th>Size</th>
    </tr>
    </thead>

    <tr class="">
        <td class="file-dir ps-5 dir-path">
            {% if not current_path['parent_is_root'] %}
            <a class="" href="{{ current_path['parent_path'] }}">
                {{ current_path['parent_folder_name'] }}
            </a>
            {% else %}
            <a class="" href="{{ current_path['parent_path'] }}">
            [top level]
            </a>
            {% endif %}
        </td>
        <td class="">
            {{ current_path['current_path_modtime'] }}
        </td>
        <td class="">
            D: {{ current_path['current_path_entries'][0] }} F: {{ current_path['current_path_entries'][1] }}
        </td>
    </tr>   
    
{% for dir in current_path['dirs'] %}
    <tr class="">
        <td class="file-dir ps-5 subdir-path"><span class="d-none sort-hack">0</span>
            <a class="ms-3" href="{{ dir }}">{{ current_path['dirs_name'][loop.index0] }}</a>
        </td>
        <td class="">
            {{ current_path['dirs_modtime'][loop.index0] }}
        </td>
        <td class="">
            D: {{ current_path['dirs_entries'][loop.index0][0] }} F: {{ current_path['dirs_entries'][loop.index0][1] }}
        </td>
    </tr>
        <!-- <tr>
            <td><pre>PLACEHOLDER</pre></td>
        </tr> -->
        {% endfor %}
        <!-- <tr><td>PLACEHOLDER</td></tr> -->
        {% for file in current_path['files'] %}

    <tr class="file-row">
        <td class="file-dir ps-5 file-path" ><span class="d-none sort-hack">1</span>
            
<div class="brain-file-btn"
    data-fdata='{{ current_path['files_json'][file] | tojson }}'
    data-filename="{{ current_path['files_name'][loop.index0] }}" 
    data-fileslug="{{ current_path['files_dl'][loop.index0] }}" 
    data-ngslug="{{ current_path['files_ng_slug'][loop.index0] }}" 
    data-filesize="{{ current_path['files_size'][loop.index0] }}"
    data-updated="{{ current_path['files_modtime'][loop.index0] }}" 
    data-bs-toggle="modal" data-bs-target="#brainModal">
    <span class="ms-4">{{ current_path['files_name'][loop.index0] }}</span>
        </div>
             
        </td>
        <td class="">
            {{ current_path['files_modtime'][loop.index0] }}
        </td>
        <td class=""><span class="d-none sort-hack">{{ current_path['files_size'][loop.index0][2] }}</span>
            S: {{ current_path['files_size'][loop.index0][0] }} {{ current_path['files_size'][loop.index0][1] }}
        </td>
    </tr>
        <!-- <tr>
            <td><pre>PLACEHOLDER</pre></td>
        </tr> -->
{% endfor %}
</table>
</div>
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="brainModal" tabindex="-1" aria-labelledby="brainModalLabel" aria-hidden="true">
    <div class="modal-dialog w-75">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="brainModalLabel">File Options</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>File Size: <span id="brainModalFileSize"></span></p>
          <p>Last Updated: <span id="brainModalUpdated"></span></p>
        </div>
        <div class="modal-footer">
          <a href="#" type="button" id="brainModalNgSlug" class="btn btn-primary btn-sm" target="ngwindow">View on NG</a>
          <a href="#" type="button" id="brainModalFileSlug" class="btn btn-primary btn-sm" target="dlwindow">Download</a>
          <a href="#" type="button" id="brainModalFileInfo" class="btn btn-primary btn-sm" target="nginfowindow">NG Info</a>
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  
  
<script>





    const dataTable = new simpleDatatables.DataTable("#myTable", {
  searchable: true,
  fixedHeight: true,
columns: [
      // Sort the second column in ascending order
      { select: 0, sort: "asc" },
    ]
});
// frows.addEventListener('click',barfalert,false);

var brainModalEl = document.getElementById('brainModal')
brainModalEl.addEventListener('show.bs.modal', function (event) {
  console.log('got modal, got dataset',event.relatedTarget.dataset);
  var bdata = event.relatedTarget.dataset;
  var fdata = JSON.parse(event.relatedTarget.dataset.fdata);
  console.log('got fdata?',fdata.filename);

  event.target.querySelector('#brainModalLabel').innerHTML = fdata.files_name;
  event.target.querySelector('#brainModalUpdated').innerHTML = fdata.files_modtime;
  event.target.querySelector('#brainModalFileSize').innerHTML = fdata.files_size[0] + ' ' + fdata.files_size[1];

// Button Configuration

// Neuroglancer Button and Info

  var ng_btn = event.target.querySelector('#brainModalNgSlug')
  var ng_info_btn = event.target.querySelector('#brainModalFileInfo')
  if (fdata.files_ng_slug)
{
  
  ng_btn.setAttribute('href',fdata.files_ng_slug);
  ng_btn.classList.remove('d-none');
  
  ng_info_btn.setAttribute('href',fdata.files_ng_info);
  ng_info_btn.classList.remove('d-none');
  
}
else{
  ng_btn.setAttribute('href',fdata.files_ng_slug)
  ng_btn.classList.add('d-none');
  
  ng_info_btn.setAttribute('href',fdata.files_ng_info);
  ng_info_btn.classList.add('d-none');
}  

// Download Button

  var dl_btn = event.target.querySelector('#brainModalFileSlug') 

  if (fdata.files_dl)
  {
  dl_btn.setAttribute('href',fdata.files_dl);
  dl_btn.classList.remove('d-none');
}
  else{
  dl_btn.setAttribute('href',fdata.files_dl);
  dl_btn.classList.add('d-none');
  }
  
  console.log('does target have href?',bdata.ngslug,event.target.querySelector('#brainModalNgSlug').href)

  // event.target.querySelector('#')
  console.log('what is event.target',event.target.querySelector('#brainModalLabel'));
})



  </script>
  
{% endblock %}